body {
    margin: 0;
    padding: 0;
    background-color: #FFE90A;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {margin: 70px 0 20px 0;}
.header img {
    width: 180px;
}
.form input {
    display: block;
    width: 250px;
    height: 40px;
    border: 1px solid #ddd;
    padding: 0 10px;
}
.form input:focus { outline: none; }
.form input + input {
    border-top: 0;
}
.form input::placeholder {
    color: #C1C1C1;
}
.form input[type="radio"] {
width: initial;
}
button {
    position: relative;;
    border: 0;
    width:270px;
    height: 40px;
    margin: 20px 0 0 0;
}
button i {
    padding: 0 5px;
}
button.qr {
    margin: 0;
    cursor: pointer;
}
button:disabled {
    background-color: #fbfcfd;
    color: #999;
}
button.qr:hover {
    opacity: 0.8;
}

.auto { 
    width: 280px;
    padding: 20px 0 0 0;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    color: #666;
    font-size: 12px;
}
.footer a {
    color: #666;
    text-decoration: none;
    padding: 0 10px;
}
.footer a:hover {
    opacity: 0.5;
}
/* 구분선+font */
fieldset {
    width: 240px;
	border-color: #eee;
	border-width: 1px 0 0 0;
    font-size: 12px;
    margin: 20px 0 10px 0;
}
legend {
    color: #666;
	text-align: center;				
}